body{
    background: #0D0C0F;
    width: 100vw;
    /* overflow: hidden; */
}
input[type = range]{
    height: 4px;
}
tbody tr{
    cursor: pointer;
}
.table-fixed tbody {
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
display: block;
}
.table-fixed tr:after {
content: "";
display: block;
visibility: hidden;
clear: both;
}
.table-fixed tbody td,
.table-fixed thead > tr > th {
float: left;
}
.track:active, .track:focus{
    color: #0BD3FF;
}
#songs-el::-webkit-scrollbar{
    width: 10px;
}
#songs-el::-webkit-scrollbar-track{
    background: #525252cb;
}
#songs-el::-webkit-scrollbar-thumb{
    background: rgb(245, 239, 239);
    border-radius: 20px;
}